<div class="container-fluid">
  <h2>Registration Form</h2>
  {{userForm.value | json}}
  <form #userForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" required #nameRef name="myName" [(ngModel)]="userData.myName">
    </div>
    {{nameRef.className}}
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" #emailRef="ngModel" name="myEmail" ngModel>
    </div>
    {{emailRef.touched}}
    <div class="form-group">
      <label>Phone</label>
      <input type="tel" class="form-control" name="myPhone" ngModel>
    </div>
    <div class="form-group">
      <label class="mr-3">Gender</label>
      <input type="radio" name="gender" value="male" ngModel >  <label>Male</label>
      <input type="radio" name="gender" value="female" ngModel> <label>Female</label> 
    </div>
    <div class="form-group">
      <label>Shift Schedule</label>
      <select name="shift" ngModel>
        <option value="moring">Moring Shift</option>
        <option value="evening">Evening Shift</option>
        <option value="night">Night Shift</option>
      </select>
    </div>
    <div class="form-group">
      <input type="checkbox" name="agree" ngModel>
      <label>I agree for all terms & conditions</label>
    </div>
    <div class="form-group">
      <label>Skills</label>
      <select multiple name="skills" [(ngModel)]="userData.skills">
        <option value="angular">Angular</option>
        <option value="react">React</option>
        <option value="javascript">JavaScript</option>
        <option value="typescript">TypeScript</option>
      </select>
    </div>
    <div ngModelGroup="address">
      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label>District</label>
        <input type="text" class="form-control" name="district" ngModel>
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
    </div>
  </form>
  <button (click)="getData()">View Details</button>
</div>